.initialScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.initialScreen img
{
    display: block;
    margin: auto;
    margin-top: 10%;
}

.initialScreenLogo
{
    height: 30%;
    width: 20%;
    margin: auto;
}

.initialScreenButton
{
    width: 20%;
    height: 8%;
    display: flex;
    margin: auto;
    margin-top: 10%;
    align-content: center;
    border: 3px solid yellow;
    border-radius: 20px;
}

.initialScreenButton img
{
    margin-left: 5px;
    margin-top: 7%;
    height: 30%;
    width: 10%;
    display: block;
}

.initialScreenButton p
{
    margin-left: 28%;
    margin-top: 7%;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.hide
{
    display: none;
}

.flashCardScreen
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.miniLogo
{
    position: absolute;
    margin-top: 1%;
    margin-left: 1%;
}

.flashCard
{
    position: relative;
    left: auto;
    width: 20%;
    height: 50%;
    margin-top: 13%;
    margin-left: 40%;
    border-radius: 30px;
    
}

.flashCardContent
{
    position: absolute;
    border-radius: 30px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    box-shadow: 0px 8px 24px;
}



.theFront
{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: white;
    z-index: 2;
}

.theBack
{
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 30px;
    z-index: 1;
}

.flipCardTracker
{
    position: absolute;
    font-size: larger;
    top: 5%;
    right: 5%;
    font-family: 'Roboto', sans-serif;
}

.questionText
{
    margin: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    width: 70%;
    word-wrap: break-word;
    margin-top: 55%;
    font-family: 'Roboto', sans-serif;
}

.turnButton
{
    position: absolute;
    right: 5%;
    bottom: 5%;
}

.backTitle
{
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 5%;
}

.backText
{
    margin: auto;
    width: 70%;
    margin-top: 35%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: medium;
}

.answerBoxes
{
    position: absolute;
    width: 80%;
    height: 10%;
    left: 10%;
    bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}

.answerBox
{
    height: 100%;
    width: 20%;
    border-radius: 15px;
    border: 3px solid purple;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: small;
    display: table;
    
}

.answerBox div
{
    display: table-cell;
    vertical-align: middle;
}

.black
{
    border: 5px solid black;
}

.red
{
    border: 5px solid red;
}

.green
{
    border: 5px solid green;
}

.yellow
{
    border: 5px solid yellow;
}

.hidden
{
    visibility: hidden;
}
